In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import mutual_info_classif
from sklearn.linear_model import Perceptron
from sklearn.model_selection import cross_validate

In [39]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.metrics import confusion_matrix
from matplotlib.colors import ListedColormap
import scipy.stats as st
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import load_iris
from sklearn import tree
import graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron

In [2]:
input_file= "data/breastcancer.csv"
df = pd.read_csv(input_file, header = 0)

df.head()

,STK35,DPYSL4,GJC2,FMNL1,LIG3,CA6,BRPF1,BRMS1,CXCL13,SIAE,...,ADRB1,DRD4,GABRR1,KRT10,PIP,MS4A3,SECISBP2L,EMP3,HOXB1,Class
0,0.425,-0.316,0.465,-0.142,-0.033,0.357,-0.197,-0.280,3.164,-0.086,...,-0.188,-0.015,-0.035,0.722,0.131,-0.545,0.323,-0.400,0.064,Basal
1,0.694,-0.497,0.200,-0.215,0.852,0.300,-0.864,-0.222,6.179,-0.649,...,0.200,-0.416,0.293,-0.795,1.785,-1.224,0.505,-0.275,0.300,Basal
2,0.304,-0.205,0.739,0.176,0.726,0.715,0.298,0.147,3.612,-0.230,...,0.211,0.170,0.156,-0.733,2.414,-0.435,0.047,-0.980,0.233,Basal
3,0.309,-0.561,0.669,-0.514,0.805,0.409,-0.974,0.054,1.280,-0.150,...,-0.532,0.884,0.633,-0.586,0.163,-0.987,0.223,-1.090,0.603,Basal
4,0.732,-0.287,0.311,-0.326,-0.468,1.887,-0.347,-0.193,2.410,0.479,...,0.354,0.596,0.270,-0.282,0.601,0.164,0.040,-0.705,0.054,Basal

In [3]:
#label_encoder = LabelEncoder()
df.dtypes

STK35        float64
DPYSL4       float64
GJC2         float64
FMNL1        float64
LIG3         float64
              ...
MS4A3        float64
SECISBP2L    float64
EMP3         float64
HOXB1        float64
Class         object
Length: 13583, dtype: object

In [4]:
#Checking missing data
df.isna().sum()

STK35        0
DPYSL4       0
GJC2         0
FMNL1        0
LIG3         0
            ..
MS4A3        0
SECISBP2L    0
EMP3         0
HOXB1        0
Class        0
Length: 13583, dtype: int64

In [6]:
df.nunique()

STK35        137
DPYSL4       146
GJC2         152
FMNL1        144
LIG3         151
            ...
MS4A3        149
SECISBP2L    151
EMP3         152
HOXB1        139
Class          5
Length: 13583, dtype: int64

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
enc=OrdinalEncoder()

In [9]:
df.columns

Index(['STK35', 'DPYSL4', 'GJC2', 'FMNL1', 'LIG3', 'CA6', 'BRPF1', 'BRMS1',
       'CXCL13', 'SIAE',
       ...
       'ADRB1', 'DRD4', 'GABRR1', 'KRT10', 'PIP', 'MS4A3', 'SECISBP2L', 'EMP3',
       'HOXB1', 'Class'],
      dtype='object', length=13583)

In [10]:
#enc.fit(df[['Class']])
enc.fit(df[:])

OrdinalEncoder()

In [11]:
#df[['Class']]= enc.transform(df[['Class']])
df[:]= enc.transform(df[:])

In [12]:
df.head()

,STK35,DPYSL4,GJC2,FMNL1,LIG3,CA6,BRPF1,BRMS1,CXCL13,SIAE,...,ADRB1,DRD4,GABRR1,KRT10,PIP,MS4A3,SECISBP2L,EMP3,HOXB1,Class
0,128.0,46.0,73.0,81.0,32.0,120.0,107.0,33.0,103.0,54.0,...,45.0,8.0,26.0,144.0,5.0,51.0,95.0,135.0,58.0,0.0
1,134.0,20.0,27.0,63.0,135.0,109.0,8.0,42.0,156.0,6.0,...,104.0,2.0,111.0,82.0,46.0,4.0,117.0,140.0,111.0,0.0
2,113.0,70.0,114.0,118.0,124.0,138.0,142.0,90.0,119.0,32.0,...,106.0,12.0,69.0,92.0,54.0,69.0,38.0,61.0,98.0,0.0
3,114.0,14.0,104.0,15.0,130.0,124.0,2.0,76.0,39.0,40.0,...,12.0,71.0,134.0,110.0,6.0,11.0,75.0,45.0,137.0,0.0
4,135.0,49.0,43.0,43.0,5.0,145.0,83.0,45.0,81.0,121.0,...,125.0,43.0,102.0,128.0,27.0,141.0,33.0,100.0,56.0,0.0

In [13]:
X = df.iloc[:,0:13582]
y = df.iloc[:,-1]

In [14]:
X.head()

,STK35,DPYSL4,GJC2,FMNL1,LIG3,CA6,BRPF1,BRMS1,CXCL13,SIAE,...,MAS1,ADRB1,DRD4,GABRR1,KRT10,PIP,MS4A3,SECISBP2L,EMP3,HOXB1
0,128.0,46.0,73.0,81.0,32.0,120.0,107.0,33.0,103.0,54.0,...,23.0,45.0,8.0,26.0,144.0,5.0,51.0,95.0,135.0,58.0
1,134.0,20.0,27.0,63.0,135.0,109.0,8.0,42.0,156.0,6.0,...,26.0,104.0,2.0,111.0,82.0,46.0,4.0,117.0,140.0,111.0
2,113.0,70.0,114.0,118.0,124.0,138.0,142.0,90.0,119.0,32.0,...,3.0,106.0,12.0,69.0,92.0,54.0,69.0,38.0,61.0,98.0
3,114.0,14.0,104.0,15.0,130.0,124.0,2.0,76.0,39.0,40.0,...,9.0,12.0,71.0,134.0,110.0,6.0,11.0,75.0,45.0,137.0
4,135.0,49.0,43.0,43.0,5.0,145.0,83.0,45.0,81.0,121.0,...,7.0,125.0,43.0,102.0,128.0,27.0,141.0,33.0,100.0,56.0

In [15]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Class, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train , X_test , y_train , y_test = train_test_split(X, y, test_size=0.3 , random_state=123)

In [18]:
#f_score= chi2(X_train, y_train)

In [19]:
#f_score
#f_score[1]
#pvalues= pd.Series(f_score[1])
#pvalues.index=X_train.columns
#pvalues
#pvalues.sort_values(ascending=False)

#chi2_selector= SelectKBest(chi2, k=2)
#X_kbest= chi2_selector.fit_transform(X,y)

In [21]:
# determine the mutual information
mutual_info = mutual_info_classif(X_train, y_train)
#print(mutual_info)
#mutual_info = pd.Series(mutual_info)
mutual_info.index = X_train.columns
mutual_info.sort_values(ascending=False)
print(mutual_info)
print("a")

[0.01107339 0.06218146 0.06894844 ... 0.08149686 0.0839547  0.        ]
a

In [22]:
#No we Will select the top 5 important features
sel_five_cols = SelectKBest(mutual_info_classif, k=5)
sel_five_cols.fit(X_train, y_train)
X_train.columns[sel_five_cols.get_support()]

Index(['AGR3', 'FOXA1', 'PPP1R14C', 'CENPF', 'AR'], dtype='object')

In [40]:
from sklearn.metrics import confusion_matrix


def confusion_matrix_scorer(clf, X, y):
    y_pred = clf.predict(X)
    cm = confusion_matrix(y, y_pred)
    return {'TN': cm[0, 0], 'FP': cm[0, 1], 'FN': cm[1, 0], 'TP': cm[1, 1]
        , 'PPV': np.divide(cm[1, 1], cm[1, 1] + cm[0, 1], where=cm[1, 1] + cm[0, 1] != 0)
        , 'NPV': np.divide(cm[0, 0], cm[0, 0] + cm[1, 0], where=cm[0, 0] + cm[1, 0] != 0)
        , 'Sensitivity': np.divide(cm[1, 1], cm[1, 1] + cm[1, 0], where=cm[1, 1] + cm[1, 0] != 0)
        , 'Specificity': np.divide(cm[0, 0], cm[0, 0] + cm[0, 1], where=cm[0, 0] + cm[0, 1] != 0)
        , 'Accuracy': np.divide(cm[1, 1] + cm[0, 0], cm[0, 0] + cm[0, 1] + cm[1, 0] + cm[1, 1],
                                where=cm[0, 0] + cm[0, 1] + cm[1, 0] + cm[1, 1] != 0)}

In [41]:
per_can = Perceptron(tol=1e-3, random_state=0)

In [42]:
cv_results_circle = cross_validate(per_can, X, y, cv=2, scoring=confusion_matrix_scorer)

In [43]:
acc_circle = np.mean(cv_results_circle['test_Accuracy'])

In [44]:
print(np.mean(cv_results_circle['test_PPV']))
print(np.mean(cv_results_circle['test_NPV']))
print(np.mean(cv_results_circle['test_Sensitivity']))
print(np.mean(cv_results_circle['test_Specificity']))
print(np.mean(cv_results_circle['test_Accuracy']))

1.0
0.8154761904761905
0.5194805194805194
1.0
0.8314814814814815

In [52]:
X

,STK35,DPYSL4,GJC2,FMNL1,LIG3,CA6,BRPF1,BRMS1,CXCL13,SIAE,...,MAS1,ADRB1,DRD4,GABRR1,KRT10,PIP,MS4A3,SECISBP2L,EMP3,HOXB1
0,128.0,46.0,73.0,81.0,32.0,120.0,107.0,33.0,103.0,54.0,...,23.0,45.0,8.0,26.0,144.0,5.0,51.0,95.0,135.0,58.0
1,134.0,20.0,27.0,63.0,135.0,109.0,8.0,42.0,156.0,6.0,...,26.0,104.0,2.0,111.0,82.0,46.0,4.0,117.0,140.0,111.0
2,113.0,70.0,114.0,118.0,124.0,138.0,142.0,90.0,119.0,32.0,...,3.0,106.0,12.0,69.0,92.0,54.0,69.0,38.0,61.0,98.0
3,114.0,14.0,104.0,15.0,130.0,124.0,2.0,76.0,39.0,40.0,...,9.0,12.0,71.0,134.0,110.0,6.0,11.0,75.0,45.0,137.0
4,135.0,49.0,43.0,43.0,5.0,145.0,83.0,45.0,81.0,121.0,...,7.0,125.0,43.0,102.0,128.0,27.0,141.0,33.0,100.0,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,8.0,139.0,53.0,142.0,30.0,127.0,129.0,61.0,137.0,123.0,...,27.0,50.0,118.0,13.0,30.0,142.0,138.0,12.0,112.0,12.0
154,12.0,52.0,99.0,20.0,35.0,29.0,97.0,47.0,152.0,70.0,...,120.0,117.0,139.0,33.0,78.0,145.0,109.0,56.0,75.0,50.0
155,57.0,118.0,117.0,47.0,62.0,111.0,89.0,102.0,21.0,112.0,...,97.0,25.0,135.0,63.0,68.0,135.0,135.0,91.0,107.0,68.0
156,83.0,40.0,100.0,10.0,52.0,100.0,57.0,49.0,67.0,31.0,...,35.0,92.0,114.0,72.0,22.0,150.0,50.0,15.0,126.0,119.0
157,34.0,115.0,142.0,1.0,22.0,71.0,48.0,30.0,55.0,148.0,...,116.0,27.0,120.0,123.0,63.0,151.0,16.0,149.0,17.0,109.0

In [55]:
X_tests = df.filter(['AGR3', 'FOXA1', 'PPP1R14C', 'CENPF', 'AR'])

In [58]:
X_tests

     AGR3  FOXA1  PPP1R14C  CENPF    AR
0    38.0   29.0     131.0  122.0  12.0
1    16.0    5.0     122.0  134.0  27.0
2    11.0   39.0     105.0  136.0  16.0
3    42.0   16.0     123.0  131.0  35.0
4    49.0   15.0     157.0  114.0  31.0
..    ...    ...       ...    ...   ...
153  65.0   54.0     109.0   47.0  61.0
154  69.0   50.0      84.0    6.0  98.0
155  80.0   55.0     101.0   10.0  95.0
156  63.0   58.0     135.0   40.0  68.0
157  68.0   78.0     151.0   49.0  91.0

[158 rows x 5 columns]

In [56]:
cv_results_circle = cross_validate(per_can, X_tests, y, cv=2, scoring=confusion_matrix_scorer)

In [57]:
print(np.mean(cv_results_circle['test_PPV']))
print(np.mean(cv_results_circle['test_NPV']))
print(np.mean(cv_results_circle['test_Sensitivity']))
print(np.mean(cv_results_circle['test_Specificity']))
print(np.mean(cv_results_circle['test_Accuracy']))

1.0
0.9523809523809523
0.6666666666666666
1.0
0.9545454545454546